    <%= simple_form_for @article do |form|%>
    <div>
        <%= form.input :title, label: 'Title' %>
    </div>
        <div class="mb-2" style="flex-grow: 1;">
        <div class = "mb-2"> 
            <%= form.input :body, as: :rich_text_area, label: 'Body', class: 'trix-content', style: 'min-height: 100px; border: 1px solid black;'%>
        </div>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message%></div>
        <%end%>
    </div>
    <div>

    <%= form.input :tags, input_html: { value: article.tags.map(&:name).join(",") } %>
    </div>
    <div>
        <% form.submit %>
    </div>


   

    <%end%>
